/* h1{
    background-color: orange;
    color: skyblue;
}

.momo{
    background-color: pink;
} */
/* #hola{
    background-color: indigo;
} */


h1{
    background-color: darkmagenta !important;
}
.chowmin{
    background-color: yellow;
}
#hola{
    background-color: peachpuff;
}

